@model CreateRoleViewModel

<form method="post">
  @* <input hidden="true" asp-for="@Model.ReturnUrl"> *@
  <div class="mb-3">
    @* <label asp-for="" class="form-label"></label> *@
    <input type="text" asp-for="RoleName" class="form-control" placeholder="RoleName">
  </div>
  <button type="submit" class="btn btn-primary">RoleName</button>
</form>