@model StudentViewModel

<form method="post">
    <div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model) Student</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
        <div class="mb-3">
			<label asp-for="Age"></label>
			<input asp-for="Age" class="form-control" />
			<span asp-validation-for="Age" class="text-danger"></span>
		</div>
         <div class="mb-3">
			<label asp-for="Adress"></label>
			<input asp-for="Adress" class="form-control" />
			<span asp-validation-for="Adress" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CourseNames"></label>
			<input asp-for="CourseNames" class="form-control" />
			<span asp-validation-for="CourseNames" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Student" asp-action="List" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>